################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeWork1/.vs
/HomeWork2/.vs
/.vs
/Homework3/Catalog Service/.vs/Catalog Service
/Homework3/Catalog Service/Catalog Service/obj
/Homework3/Catalog Service/Catalog Service/bin/Debug/net7.0
