################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeWork1/.vs
/HomeWork2/.vs
/.vs
/HomeWork2/Layered Architecture/CartingService/.vs/CartingService
/HomeWork2/Layered Architecture/CartingService/CartingService/bin/Debug/net7.0
/HomeWork2/Layered Architecture/CartingService/CartingService/obj
/HomeWork2/Clean Architecture/Catalog Service/.vs
/HomeWork2/Clean Architecture/Catalog Service/Catalog Service/obj
/HomeWork2/Clean Architecture/Catalog Service/Catalog Service Web Api/bin/Debug/net7.0
/HomeWork2/Clean Architecture/Catalog Service/Catalog Service Web Api/obj
/HomeWork2/Clean Architecture/Catalog Service/CatalogService.BLL/bin/Debug/net7.0
/HomeWork2/Clean Architecture/Catalog Service/CatalogService.BLL/obj
/HomeWork2/Clean Architecture/Catalog Service/CatalogService.DAL/bin/Debug/net7.0
/HomeWork2/Clean Architecture/Catalog Service/CatalogService.DAL/obj
/HomeWork2/Clean Architecture/Catalog Service/Infrastructure/bin/Debug/net7.0
/HomeWork2/Clean Architecture/Catalog Service/Infrastructure/obj
/HomeWork2/Clean Architecture/Catalog Service/Catalog.Data.EFMsSql/bin/Debug/net7.0
/HomeWork2/Clean Architecture/Catalog Service/Catalog.Data.EFMsSql/obj
/Homework3/Task1/Catalog Service/.vs/Catalog Service
/Homework3/Task1/Catalog Service/Catalog Service Web Api/obj
/Homework3/Task1/Catalog Service/Catalog.Data.EFMsSql/obj
/Homework3/Task1/Catalog Service/CatalogService.BLL/obj
/Homework3/Task1/Catalog Service/CatalogService.DAL/obj
/Homework3/Task1/Catalog Service/Infrastructure/obj
/Homework3/Task1/Catalog Service/Catalog Service Web Api/bin/Debug/net7.0
/Homework3/Task1/Catalog Service/CatalogService.BLL/bin/Debug/net7.0
/Homework3/Task1/Catalog Service/Catalog.Data.EFMsSql/bin/Debug/net7.0
/Homework3/Task1/Catalog Service/CatalogService.DAL/bin/Debug/net7.0
/Homework3/Task1/Catalog Service/Infrastructure/bin/Debug/net7.0
/Homework3/Task2/CartingService/.vs/CartingService
/Homework3/Task2/CartingService/CartingService/obj
/Homework3/Task1/Catalog Service/.vs/ProjectEvaluation/catalog service.metadata.v7.bin
/Homework3/Task2/CartingService/.vs/ProjectEvaluation
/Homework3/Task2/CartingService/CartingService/bin/Debug/net7.0
/Homework3/Task1/Catalog Service/.vs/ProjectEvaluation/catalog service.projects.v7.bin
/Homework4/AzureServiceBusMessageBroker/.vs/AzureServiceBusMessageBroker
/Homework4/AzureServiceBusMessageBroker/AzureServiceBusMessageBroker/obj
/Homework4/AzureServiceBusMessageBroker/AzureServiceBusMessageBroker/bin/Debug/net7.0
/Homework4/AzureServiceBusMessageBroker/Basket Service/obj
/Homework4/AzureServiceBusMessageBroker/Basket Service/bin/Debug/net7.0
/Homework4/AzureServiceBusMessageBroker/Catalog Service/bin/Debug/net7.0
/Homework4/AzureServiceBusMessageBroker/Catalog Service/obj
/Homework4/.vs
/Homework5/Task1/IdentityManagmentService/IdentityManagmentServer/bin
/Homework5/Task1/IdentityManagmentService/.vs
/Homework5/Task1/IdentityManagmentService/MvcLoginClient/obj
/Homework5/Task1/IdentityManagmentService/MvcLoginClient/bin
/Homework6/Task1/AzureServiceBusMessageBroker/.vs/AzureServiceBusMessageBroker
/Homework6/Task1/AzureServiceBusMessageBroker/AzureServiceBusMessageBroker/obj
/Homework6/Task1/AzureServiceBusMessageBroker/Basket Service/obj
/Homework6/Task1/AzureServiceBusMessageBroker/Catalog Service/obj
/Homework6/Task1/AzureServiceBusMessageBroker/AzureServiceBusMessageBroker/bin/Debug/net7.0
/Homework6/Task1/AzureServiceBusMessageBroker/Basket Service/bin/Debug/net7.0
/Homework6/Task1/AzureServiceBusMessageBroker/Catalog Service/bin/Debug/net7.0
/Homework6/Task1/AzureServiceBusMessageBroker/.vs/ProjectEvaluation
