@{
    ViewData["Title"] = "Secret Page";
}
<h1>@ViewData["Title"]</h1>




<h1>Token Information</h1>
<p>Refresh Token: @Model.RefreshToken</p>
<p>ID Token Issuer: @Model.IdToken?.Issuer</p>
<p>Access Token Subject: @Model.AccessToken?.Subject</p>
<!-- Add more properties as needed -->
